body {
    color: black;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: radial-gradient(circle at 50% 45.67%, #9759af 0, #69428a 25%, #3c295f 50%, #161136 75%, #000014 100%)
}